
@font-face {
  font-family: InterRegular;
  src: url("/fonts/InterRegular.otf");
}



html {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0px;
  font-family: InterRegular;
}